@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Rancho");

/* Global styles */

body {
	font-family: "Open Sans";
	background-color: #f6f9fc;
	font-size: 62.5%;
}

.app-wrapper {
	margin: 0 auto;
	width: 100%;
}

.app-wrapper .sc-bxivhb {
	width: 100%;
	margin: 0;
}

.klZdRP {
	height: 0;
}
/* Desktop styles */

@media only screen and (min-width: 630px) {
	.app-wrapper {
		margin: 0 auto;
	}
}

/* Mobile styles */

@media only screen and (max-width: 630px) {
	body {
		width: 95vw;
	}
}

@media only screen and (max-width: 630px) {
	.app-wrapper {
		margin: 0 auto;
	}

	.sign-up-img {
		width: 33%;
		position: absolute;
		bottom: 0;
		padding: 20px;
	}
}

@media only screen and (max-width: 450px) {
	.app-wrapper {
		/* width: 95vw; */
	}
}

/* Header styles */

.header {
	text-align: center;
	background: white;
	height: 90px;
	padding-top: 5px;
}

@media only screen and (max-width: 390px) {
	.header {
		height: 130px;
	}

	.sign-up-img {
		display: none;
	}
}

.header h2 {
	font-size: 20px;
	margin: 10px 0;
	font-weight: 400;
}

.header span {
	font-family: "Saira", cursive;
	color: #003893;
	font-weight: 700;
}

.header div {
	font-size: 16px;
}

/* Verb streak styles */

/* Helper text styles */

.helper-text {
	color: #fff;
	font-size: 20px;
	height: 85px;
	position: relative;
	padding: 10px 0;
}

.helper-text div {
	text-align: center;
}

/* Settings styles */

.settings {
	position: absolute;
	display: flex;
	align-items: center;
}

.two-dropdowns {
	color: #fff;
	display: flex;
	margin-left: 50px;
}

.settings-text {
	font-size: 0.8rem;
	font-weight: bold;
}

.settings-dropdown {
	margin: 10px;
}

.settings-buttons-hide {
	display: none;
}

.button-options {
	width: 200px;
	height: 40px;

	background: #af2323;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-left: 850px;
	font-family: Righteous;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;

	color: #ffffff;
}

/* Hover text styles */

.hover-text {
	height: 25px;
	padding: 0 5px;
	margin-top: 10px;
	margin-right: 400px;
	cursor: pointer;
}

.hover-text:hover {
	text-decoration: underline;
}

.made-with-love {
	cursor: pointer;
	text-decoration: underline;
	text-align: center;
}

/* Modal styles */

.back-drop {
	background-color: rgba(0, 0, 0, 0.85);
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 1.8s;
	width: 100vw;
	z-index: 1;
}

.text-under-input {
	margin-left: 450px;
}
